body {
  margin: 0;
  background: #111;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
  border: 0px solid;
  border-radius: 10px ;
  border-color:#000;
  background-color: #3e4144;
  padding-top: .5em;
  
}

.App h1 {
  padding-left: .5em;
}

