body {
  margin: 0;
  background: #000;
  font-family: "TwitterChirp",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  border: 0px solid;
  border-radius: 10px ;
  border-color:#000;
  background-color: #16181c;
  padding-top: .5em;
  
}

.App h1 {
  padding-left: .5em;
}


.show-more{
  display: flex;
  padding: 1em;
  color: #4485ff;
  font-weight: normal;
  text-decoration: none;
  border-radius: 0px 0px 10px 10px;
  flex-basis: auto;
  transition: background-color .3s ease-in-out;
  font-size: 14px ;
}

.show-more:hover{
  background-color: #1d1f23;
  
}

